In [2]:
import pandas as pd
import numpy as np

In [3]:
dpt=pd.read_excel(r'E:\TAOR\Data\2024-5 DPT Data.xlsx')
dpt.head()

,Programme Code,ProgYear,Programme Name,Programme School Name,Programme College,Programme Year,Collection Code,Collection Name,Collection Sequence,Collection Min Value,...,Collection Reg Group,Collection Group Min,Collection Group Max,Collection Operand,Course Code,Course Name,SCQF Credits,Session,Compulsory/Optional,Collection Note
0,PRMSCMGMNT1F,PRMSCMGMNT1F1,Management (MSc by Research),Business School,HSS,1,PGSP11016,Research Skills in the Social Sciences: Data C...,1,20,...,NaN,NaN,NaN,NaN,PGSP11016,Research Skills in the Social Sciences: Data C...,20.0,2024/5,Compulsory,NaN
1,PRMSCMGMNT1F,PRMSCMGMNT1F1,Management (MSc by Research),Business School,HSS,1,CMSE11003,Dissertation (MSc by Research (Management) Mod...,4,60,...,NaN,NaN,NaN,NaN,CMSE11003,Dissertation (MSc by Research (Management) Mod...,60.0,2024/5,Compulsory,NaN
2,PRMSCMGMNT1F,PRMSCMGMNT1F1,Management (MSc by Research),Business School,HSS,1,CMSE11525,Supervised Reading Course,5,20,...,NaN,NaN,NaN,NaN,CMSE11525,Supervised Reading Course,20.0,2024/5,Compulsory,NaN
3,PRMSCMGMNT1F,PRMSCMGMNT1F1,Management (MSc by Research),Business School,HSS,1,PGSP12002,Advanced Research Design and Methods,6,20,...,NaN,NaN,NaN,NaN,PGSP12002,Advanced Research Design and Methods,20.0,2024/5,Compulsory,NaN
4,PRMSCMGMNT1F,PRMSCMGMNT1F1,Management (MSc by Research),Business School,HSS,1,ROU_PRMSCMGMNT1F_4,MSc by Research in Management - Optional Cours...,103,40,...,A,60.0,60.0,AND,BUST11231,Supervised reading: Literature review,20.0,2024/5,Optional,NaN

In [6]:
dpt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151405 entries, 0 to 151404
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Programme Code         151405 non-null  object
 1   ProgYear               151405 non-null  object
 2   Programme Name         151405 non-null  object
 3   Programme School Name  151405 non-null  object
 4   Programme College      151405 non-null  object
 5   Programme Year         151405 non-null  int64
 6   Collection Code        151405 non-null  object
 7   Collection Name        151249 non-null  object
 8   Collection Sequence    151405 non-null  int64
 9   Collection Min Value   151405 non-null  int64
 10  Collection Max Value   151405 non-null  int64
 11  Collection Reg Group   120731 non-null  object
 12  Collection Group Min   120580 non-null  float64
 13  Collection Group Max   120580 non-null  float64
 14  Collection Operand     76051 non-null   object
 15  Course Code            151405 non-null  object
 16  Course Name            151405 non-null  object
 17  SCQF Credits           149834 non-null  float64
 18  Session                151405 non-null  object
 19  Compulsory/Optional    151405 non-null  object
 20  Collection Note        107572 non-null  object
dtypes: float64(3), int64(4), object(14)
memory usage: 24.3+ MB

In [7]:
dpt.describe()

,Programme Year,Collection Sequence,Collection Min Value,Collection Max Value,Collection Group Min,Collection Group Max,SCQF Credits
count,151405.000000,151405.000000,151405.000000,151405.000000,120580.000000,120580.000000,149834.000000
mean,2.196691,111.253354,11.933787,40.917110,61.281307,64.780436,16.493753
std,1.181392,64.729913,18.964874,18.590002,32.023374,29.837399,9.297486
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,102.000000,0.000000,30.000000,40.000000,40.000000,10.000000
50%,2.000000,105.000000,0.000000,40.000000,60.000000,60.000000,20.000000
75%,3.000000,114.000000,20.000000,40.000000,80.000000,80.000000,20.000000
max,7.000000,702.000000,180.000000,180.000000,180.000000,180.000000,180.000000

In [5]:

# -------------------------------------------------------------------
# Define the programme codes for the five programmes of interest
# (as provided in the description)
# -------------------------------------------------------------------
target_codes = [
    "UTMATPH",           # Mathematics & Physics
    "UTBSCMATBU1F",      # Mathematics & Business
    "UTCMPMA",           # Computer Science & Maths
    "UTECNMA",           # Economics & Maths
    "UTPHIMA"            # Philosophy & Maths
]

# -------------------------------------------------------------------
# Filter the dataframe to keep only rows whose Programme Code is in the list
# -------------------------------------------------------------------
filtered_dpt = dpt[dpt['Programme Code'].isin(target_codes)]

# -------------------------------------------------------------------
# Display basic information about the extracted data
# -------------------------------------------------------------------
print("Extracted data shape:", filtered_dpt.shape)
print("\nFirst few rows:")
print(filtered_dpt.head())
print("\nDataframe info:")
filtered_dpt.info()


# -------------------------------------------------------------------
# (Optional) Save the filtered data to a new Excel or CSV file
# -------------------------------------------------------------------
# filtered_dpt.to_excel('extracted_programmes.xlsx', index=False)
# filtered_dpt.to_csv('extracted_programmes.csv', index=False)

Extracted data shape: (973, 21)

First few rows:
      Programme Code  ProgYear                       Programme Name  \
84045        UTECNMA  UTECNMA1  Economics and Mathematics (MA Hons)
84046        UTECNMA  UTECNMA1  Economics and Mathematics (MA Hons)
84047        UTECNMA  UTECNMA2  Economics and Mathematics (MA Hons)
84048        UTECNMA  UTECNMA3  Economics and Mathematics (MA Hons)
84049        UTECNMA  UTECNMA3  Economics and Mathematics (MA Hons)

      Programme School Name Programme College  Programme Year  \
84045   School of Economics               HSS               1
84046   School of Economics               HSS               1
84047   School of Economics               HSS               2
84048   School of Economics               HSS               3
84049   School of Economics               HSS               3

           Collection Code                                    Collection Name  \
84045        ROU_UTECNMC_4                      Economics Year 1 Fundamentals
84046  SCH_A-Q/S-T/W/Y_7/8  Level 7 and 8 courses in Schedules A to Q, S, ...
84047  SCH_A-Q/S-T/W/Y_7/8  Level 7 and 8 courses in Schedules A to Q, S, ...
84048    ROU_W_UTECNAC1_10  Economics Course Options for Joint Programmes ...
84049    ROU_W_UTECNAC1_10  Economics Course Options for Joint Programmes ...

       Collection Sequence  Collection Min Value  ...  Collection Reg Group  \
84045                  103                     0  ...                     A
84046                  104                     0  ...                     A
84047                   55                    20  ...                   NaN
84048                  210                    20  ...                   NaN
84049                  210                    20  ...                   NaN

      Collection Group Min  Collection Group Max  Collection Operand  \
84045                 20.0                  20.0                 AND
84046                 20.0                  20.0                 NaN
84047                  NaN                   NaN                 NaN
84048                  NaN                   NaN                 AND
84049                  NaN                   NaN                 AND

                                             Course Code  \
84045                                          ECNM08004
84046  Level 7 and 8 courses in Schedules A to Q, S, ...
84047  Level 7 and 8 courses in Schedules A to Q, S, ...
84048                                          ECNM10056
84049                                          ECNM10069

                                             Course Name SCQF Credits  \
84045                                Economic Principles         20.0
84046  Level 7 and 8 courses in Schedules A to Q, S, ...          NaN
84047  Level 7 and 8 courses in Schedules A to Q, S, ...          NaN
84048                       Applications of Econometrics         20.0
84049                           Topics in Macroeconomics         20.0

       Session Compulsory/Optional  \
84045   2024/5            Optional
84046   2024/5       Optional-Open
84047   2024/5       Optional-Open
84048   2024/5            Optional
84049   2024/5            Optional

                                         Collection Note
84045  Note: You may not choose this course if you ha...
84046  Level 7 courses may be taken with the permissi...
84047  EXCLUDING: CMSE08002 Business Research Methods...
84048                                                NaN
84049                                                NaN

[5 rows x 21 columns]

Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Index: 973 entries, 84045 to 149727
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Programme Code         973 non-null    object
 1   ProgYear               973 non-null    object
 2   Programme Name         973 non-null    object
 3   Programme School Name  973 non-null    object
 4   Programme College      973 non-null    object
 5   Programme Year         973 non-null    int64
 6   Collection Code        973 non-null    object
 7   Collection Name        973 non-null    object
 8   Collection Sequence    973 non-null    int64
 9   Collection Min Value   973 non-null    int64
 10  Collection Max Value   973 non-null    int64
 11  Collection Reg Group   862 non-null    object
 12  Collection Group Min   862 non-null    float64
 13  Collection Group Max   862 non-null    float64
 14  Collection Operand     668 non-null    object
 15  Course Code            973 non-null    object
 16  Course Name            973 non-null    object
 17  SCQF Credits           959 non-null    float64
 18  Session                973 non-null    object
 19  Compulsory/Optional    973 non-null    object
 20  Collection Note        330 non-null    object
dtypes: float64(3), int64(4), object(14)
memory usage: 167.2+ KB

In [8]:
evmr=pd.read_excel(r'E:\TAOR\Data\2024-5 Event Module Room.xlsx')
evmr.head()

,Module Department,Module Code,Module Name,Event ID,Event Name,Event Type,Duration (minutes),Event Size,Timeslot,WholeClass,Online Delivery,Number of Weeks,Weeks,Room,Room type 2,Room Type 1,Building,Campus,Semester,Room Lock
0,Business School,ACCN08007_SS1_SEM1_2024/5,Accountancy 1A,E:96XCWW2M9V,Accountancy 1A - Tutorial/02,Tutorial,50,18.0,Tuesday 11:00,False,NaN,9,"10, 11, 12, 13, 15, 16, 17, 18, 19",0335_01_1.9,General Teaching,Centrally Allocated Space,Lister Learning and Teaching Centre,Central,Semester 1,No
1,Business School,BUST08052_SS1_SEM1_2024/5,Planning for a start-up,E:XT1KZOCGA6,Planning for a start-up - Tutorial/01,Tutorial,110,25.0,Wednesday 10:00,False,NaN,2,"15, 19",0228_-1_LG.10,General Teaching,Centrally Allocated Space,40 George Square Lower Teaching Hub,Central,Semester 1,No
2,Business School,BUST08051_SV1_SEM1_2024/5,Psychological Well-being and Business,E:NB1S2PULQP,Psychological Well-being and Business - Tutori...,Tutorial,110,20.0,Monday 09:00,False,NaN,8,"11, 12, 13, 15, 16, 17, 18, 19",0201_00_G.05,General Teaching,Centrally Allocated Space,Appleton Tower,Central,Semester 1,No
3,Business School,BUST08004_SV1_SEM1_2024/5,Marketing,E:QGLQZOQGIF,Marketing - Tutorial/07,Tutorial,50,14.0,Tuesday 15:00,False,NaN,8,"11, 12, 13, 15, 16, 17, 18, 19",0113_00_G.205,General Teaching,Centrally Allocated Space,"Medical School, Teviot",Central,Semester 1,No
4,Business School,BUST10149_SV1_SEM1_2024/5,"Mergers, Acquisitions, and Corporate Restructu...",E:Y2SNRCC5RT,"Mergers, Acquisitions, and Corporate Restructu...",Lecture,110,120.0,Monday 11:00,True,NaN,2,"9, 17",LectureTheatre_ChambersStreetMuseum,General Teaching,Centrally Allocated Space,Hired Space - Contingency,Central,Semester 1,No

In [9]:
evmr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32757 entries, 0 to 32756
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Module Department   32757 non-null  object
 1   Module Code         32757 non-null  object
 2   Module Name         32757 non-null  object
 3   Event ID            32757 non-null  object
 4   Event Name          32757 non-null  object
 5   Event Type          32757 non-null  object
 6   Duration (minutes)  32757 non-null  int64
 7   Event Size          32619 non-null  float64
 8   Timeslot            32757 non-null  object
 9   WholeClass          32757 non-null  bool
 10  Online Delivery     989 non-null    object
 11  Number of Weeks     32757 non-null  int64
 12  Weeks               32757 non-null  object
 13  Room                29598 non-null  object
 14  Room type 2         32737 non-null  object
 15  Room Type 1         32602 non-null  object
 16  Building            29598 non-null  object
 17  Campus              29598 non-null  object
 18  Semester            32757 non-null  object
 19  Room Lock           32757 non-null  object
dtypes: bool(1), float64(1), int64(2), object(16)
memory usage: 4.8+ MB

In [10]:
evmr.describe()

       Duration (minutes)    Event Size  Number of Weeks
count        32757.000000  32619.000000     32757.000000
mean           113.452606     44.090193         4.884666
std            108.606265     61.903624         4.117164
min             15.000000      1.000000         1.000000
25%             50.000000     14.000000         1.000000
50%             80.000000     20.000000         3.000000
75%            110.000000     45.000000        10.000000
max           1410.000000    638.000000        22.000000

In [11]:
pc=pd.read_excel(r'E:\TAOR\Data\Programme-Course.xlsx')
pc.head()

                  CourseId                   ModuleId  Compulsory
0  PRENGAPLPH2F_YR1_2024/5    XXXX01103_SV1_YR_2024/5       False
1  PRENGAPLPH2F_YR1_2024/5    XXXX01104_SV1_YR_2024/5       False
2  PRENGAPLPH2F_YR1_2024/5    XXXX01101_SV1_YR_2024/5       False
3  PRENGOFFRE1F_YR2_2024/5  PGEE11199_SS1_FLEX_2024/5        True
4  PRENGOFFRE1F_YR2_2024/5  PGEE11192_SS1_FLEX_2024/5        True

In [12]:
pc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CourseId    53962 non-null  object
 1   ModuleId    53962 non-null  object
 2   Compulsory  53962 non-null  bool
dtypes: bool(1), object(2)
memory usage: 896.0+ KB

In [13]:
pc.describe()

                       CourseId                   ModuleId Compulsory
count                     53962                      53962      53962
unique                     3500                       5262          2
top     UTMAHPOPPE1F_YR4_2024/5  LASC08020_SV1_SEM2_2024/5      False
freq                        141                         95      45751

In [15]:
rrt=pd.read_excel(r'E:\TAOR\Data\Rooms and Room Types.xlsx')
rrt.head()

,Id,Description,Capacity,Building,Building.1,Campus,Central/Local,Room Type,Specialist room type,Has a 24-5 Event
0,2701_00_GU108,"Auditorium A, Shirley Hall (GU108) - No Food o...",262,2701,Chancellor's Building,Bioquarter,Locally Allocated Space,Specialist Room,General Teaching,Yes
1,2701_00_GU216,Auditorium B (GU216) - No Food or Drink,150,2701,Chancellor's Building,Bioquarter,Locally Allocated Space,Specialist Room,General Teaching,Yes
2,2701_00_GU302,Micro Lab 1 (GU302),20,2701,Chancellor's Building,Bioquarter,Locally Allocated Space,Specialist Room,Computer Laboratory,Yes
3,2701_00_GU303,Micro Lab 2 (GU303),20,2701,Chancellor's Building,Bioquarter,Locally Allocated Space,Specialist Room,Computer Laboratory,Yes
4,2701_00_GU318,Undergraduate Medical Teaching Room (GU318),96,2701,Chancellor's Building,Bioquarter,Locally Allocated Space,Specialist Room,General Teaching,Yes

In [16]:
rrt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    649 non-null    object
 1   Description           649 non-null    object
 2   Capacity              649 non-null    int64
 3   Building              649 non-null    int64
 4   Building.1            649 non-null    object
 5   Campus                649 non-null    object
 6   Central/Local         649 non-null    object
 7   Room Type             649 non-null    object
 8   Specialist room type  649 non-null    object
 9   Has a 24-5 Event      649 non-null    object
dtypes: int64(2), object(8)
memory usage: 50.8+ KB

In [17]:
rrt.describe()

         Capacity     Building
count  649.000000   649.000000
mean    47.910632   474.308166
std     58.165829   578.364353
min      1.000000     1.000000
25%     16.000000   214.000000
50%     28.000000   421.000000
75%     52.000000   601.000000
max    458.000000  9004.000000